.backarrow {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

#bgContainer {
  background-image: url("./playPageBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: fixed;

  height: 100%;
  width: 100%;
}

#darkPlayPageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

#darkPlayPageFlexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#darkPlayPageText {
  font-size: 150px;
}

#darkPlayPageExplanation {
  font-size: 50px;
}

#unpauseDiv {
  background-image: url("./unpauseBtn.png");
  background-repeat: no-repeat;
}

.greenInnerWhiteOuterText {
  text-shadow: -0.5px -0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white,
    0.5px 0.5px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  color: #00ac87;
  font-weight: bold;
  margin-top: 30px;
}

#hardDiffDesc {
  margin-bottom: 70px;
}

#gridAndPauseParent {
  position: relative;
  height: 100%;
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: repeat(3, auto);
  height: 100%;
  width: 100%;
}

#playItemContainer {
  background-image: url("./playItemContainerBG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  margin: 50px 70px;

  text-align: center;

  grid-column: 2 / 3;
  grid-row: 1 / -1;
}

#playItemFlexBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;

  padding: 0px 200px;

  width: 100%;
  height: 100%;
}

#buttonA {
  display: flex;
  text-align: center;
  place-items: center;
  justify-content: center;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#buttonL {
  display: flex;
  text-align: center;
  place-items: center;
  justify-content: center;
  grid-column: 3 / 4;
  grid-row: 3 / -1;
}

#player1 {
  display: flex;
  font-size: 70px;
  text-align: center;
  place-items: center;
  justify-content: center;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0 0 0 100px;
}
#player2 {
  display: flex;
  font-size: 70px;
  text-align: center;
  place-items: center;
  justify-content: center;
  grid-column: 3 / 3;
  grid-row: 2 / 3;
  margin: 0 100px 0 0;
}

#paus {
  display: flex;
  background-image: url("./paus.png");
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 3/3;
  grid-row: 1/2;
}

#paus:hover {
  filter: brightness(0.9);
}

#unpauseBtnImage:hover {
  filter: brightness(0.9);
}
