.howToPlayContainer {
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url("./howtoplay-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.howToPlayInnerContainer {
  margin-top: 60px;
}

.howToPlayInnerContainer > h1 {
  text-align: center;
  /* margin-bottom: 20px; */
}

.imageContainer {
  position: relative;
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 10px; */
}

.imageContainer > img {
  width: 750px;
  height: auto;
}

.how-to-play-container > p {
  position: absolute;
}

.wonkyShape {
  margin-bottom: 50px;
}
