.bgContainer {
  background-image: url("./CategoryInfoPageBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playItemContainer {
  background-image: url("./playItemContainerBG.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.imgContainer {
  display: flex;
  transform: translate(0%, 50%);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -200px;
}

.descriptionContainer {
  max-width: 30%; /* Adjust this value based on your needs */
  margin: auto; /* This ensures the div is centered horizontally */
}

.descriptionContainer > p {
  margin: 0; /* Reset margin to ensure centering is accurate */
  text-align: center; /* Center the text inside <p> */
}

.backarrow {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.disabled {
  pointer-events: none;
  opacity: 0.2;
}
