.wonkyContainerTextContainer {
  position: relative;
}

.wonkyContainerTextText {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: bold;
  color: white;
}
