.resultsBGContainer {
  background-image: url("./resultsPageBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  height: 100%;
  width: 100%;
}

.resultsGridContainer {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 2fr 1fr 2fr;
}
