/* Provide sufficient contrast against white background */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
* {
  font-family: "Comic Sans ms", sans-serif;

}
h1,h2,h3{
  font-family: "Architects Daughter", sans-serif;
}
a {
  color: #0366d6;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.backarrow {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.greenInnerWhiteOuterTextSkinny {
  text-shadow: -0.5px -0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white,
    0.5px 0.5px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  color: #00ac87;
  font-weight: bold;
}
