.backgroundContainer {
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url("./gradient1.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 320px;
  gap: 10px;
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexItem {
  width: 280px;
  height: 280px;
}

.textOverlayInfo {
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
    2px 2px 0 white, -3px -3px 0 white, 3px -3px 0 white, -3px 3px 0 white,
    3px 3px 0 white;
  color: #00ac87;
  text-align: center;
  font-size: 70px;
  margin: 40px;
}

.backArrowSelectInfo {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
